# Python in Brief

## Pyhton Syntax:
- It's like telling a story to the computer
- A story about how to work on a problem

sentence \
sentence \
grouping sentences: \
    &ensp;&ensp;&ensp;&ensp;sentence \
    &ensp;&ensp;&ensp;&ensp;sentence \
    &ensp;&ensp;&ensp;&ensp;. \
    &ensp;&ensp;&ensp;&ensp;. \
    &ensp;&ensp;&ensp;&ensp;.

### Assignment Operator

In [4]:
x = 3 # value assignment to a variable
y = x
name = input('Please Enter a Name: ') # assigning a value passed from the user using input()
print ('The name entered is: ', z)

Please Enter a Name:  Ahmed

The name entered is:  Ahmed

### Casting Value

In [19]:
x = input('Enter a Value:')
print(type(x))
try:
    x = x + 3
    print(x)
except Exception as error:
    print(f"Can't add Integer to a String... Error Msg: {error}")
x = int(x)
print(f"'x' type: {type(x)}... x value: {x}")

Enter a Value: 3.1

<class 'str'>
Can't add Integer to a String... Error Msg: can only concatenate str (not "int") to str

ValueError: invalid literal for int() with base 10: '3.1'

In [24]:
x = 3
y = 4.4
print("Type of x:", type(x), "\nType of y:", type(y))
print("Value of x:", x, "\nValue of y:", y)
print()
x = float(x)
y = int(y)
print("Type of x:", type(x), "\nType of y:", type(y))
print("Value of x:", x, "\nValue of y:", y)

Type of x: <class 'int'>
Type of y: <class 'float'>
Value of x: 3
Value of y: 4.4

Type of x: <class 'float'>
Type of y: <class 'int'>
Value of x: 3.0
Value of y: 4

### Arithmetic Operators: 
- \+ Addition
- \- Subtarction
- \* Multiplication
- /  Division
- // Floor Division
- %  Modulo
- ** Exponent
- +=
- -=
- *=
- /=
- //=
- %=

In [40]:
x = 13
y = 5
print("x + y =", x+y)
print("x - y =", x-y)
print("x * y =", x*y)
print("x / y =", x/y)
print("x // y =", x//y)
print("x % y =", x%y)

x + y = 18
x - y = 8
x * y = 65
x / y = 2.6
x // y = 2
x % y = 3

In [64]:
x = 13
y = 5
x += 1
print(x)
x-=2
print(x)
x*=7
print(x)
x/=5
print(x)
x//=3
print(x)
x%=3
print(x)

14
12
84
16.8
5.0
2.0

# Camparison Oprators:
- == Equality
- <  Less than
- \> Greater than
- <= Less than or equal
- \>= Greater than or equal
- != Not equal

In [77]:
print(f'x: {x}, y: {y}')
print('x==y:', x==y)
print('x<y:', x<y)
print('x<=y:', x<=y)
print('x>y:', x>y)
print('x>=y:', x>=y)
print('x>y:', x>y)
print('x!=y:', x!=y)

x: 2.0, y: 5
x==y: False
x<y: True
x<=y: True
x>y: False
x>=y: False
x>y: False
x!=y: True

## Lists

In [93]:
lst1 = [11, 22, 33]

In [94]:
lst2 = [1, [22,23], 33]

In [95]:
lst3 = [1, 'abc', 3]

### Lists Basic Ooperation

In [101]:
## Indexing
print(lst1[1])

22

In [102]:
print(lst2[1])

[22, 23]

In [105]:
print(lst2[1][1])

23

In [108]:
print(lst3[1])
print(lst3[1][1])

abc
b

In [118]:
## Slicing
lst = [1,2,3,4,5,6,7,9]
print(lst[2:6])
print(lst[2:6:2])
print(lst[6:2:-1])
print(lst[2:])
print(lst[-3])
print(lst[-3:])

[3, 4, 5, 6]
[3, 5]
[7, 6, 5, 4]
[3, 4, 5, 6, 7, 9]
6
[6, 7, 9]

In [120]:
## List length
print(len(lst))

8

In [121]:
## Attaching list
lst = lst + [11, 22, 33]
print(lst)

[1, 2, 3, 4, 5, 6, 7, 9, 11, 22, 33]

In [122]:
## Repeating list elements
print(lst*3)

[1, 2, 3, 4, 5, 6, 7, 9, 11, 22, 33, 1, 2, 3, 4, 5, 6, 7, 9, 11, 22, 33, 1, 2, 3, 4, 5, 6, 7, 9, 11, 22, 33]

In [125]:
## Check if value is an elements of a list
print(33 in lst)
print(10 in lst)

True
False

In [2]:
## Adding elements to a list
lst = [1,2,3]
print(lst)
lst.append(44)
print(lst)
lst+= [55]
print(lst)

[1, 2, 3]
[1, 2, 3, 44]
[1, 2, 3, 44, 55]

In [3]:
## Updating list element
print(lst)
lst[0] = 11
print(lst)
lst[-1] = 5
print(lst)

[1, 2, 3, 44, 55]
[11, 2, 3, 44, 55]
[11, 2, 3, 44, 5]

In [4]:
## Reversing list
lst.reverse()
print(lst)

[5, 44, 3, 2, 11]

In [5]:
## Removing element from a list
lst*=2
print(lst)
lst.remove(2)
print(lst)

[5, 44, 3, 2, 11, 5, 44, 3, 2, 11]
[5, 44, 3, 11, 5, 44, 3, 2, 11]

## Iteration Control:
- ### For loop
- ### While loop

In [6]:
## for loop: needs a collection of elements to iterate over (like a list, string, set, ..., range)
for e in lst:
    print(e)

5
44
3
11
5
44
3
2
11

In [7]:
for i in range(len(lst)):
    print(i+1, ':', lst[i])

1 : 5
2 : 44
3 : 3
4 : 11
5 : 5
6 : 44
7 : 3
8 : 2
9 : 11

In [8]:
c = 0
while c<len(lst):
    print(c, ':', lst[c])
    c+=1  # must increment the counter to make sure we can break out of the loop

0 : 5
1 : 44
2 : 3
3 : 11
4 : 5
5 : 44
6 : 3
7 : 2
8 : 11

## Condition Control

In [42]:
x = 3
if x not in lst:
    print (x, 'is not in list')
elif len(lst)<=5:
    print('Can not remove more elements from the list.. list size is not 5 or less')
else:
    lst.remove(x)
print(lst)

Can not remove more elements from the list.. list size is not 5 or less
[44, 3, 44, 3, 2]

## Sets
Sets are collection of elements (like lists), BUT the elements of a set are unique

In [46]:
set1 = {1,2,3,4,3,4,2,4,4,4,1,1}
print(set1)

{1, 2, 3, 4}

In [45]:
print(lst)
set1 = set(lst)
print(set1)

[44, 3, 44, 3, 2]
{2, 3, 44}

## Dicitonary
collection of elements of pair: a key and a value

In [49]:
d = {1:"Amy", 2:"John", 3:"Ahmed", 'phi':"no one", 'twin1':['Mark', 'Elias']}
for k,v in d.items():
    print(k, ':',v)

1 : Amy
2 : John
3 : Ahmed
phi : no one
twin1 : ['Mark', 'Elias']

# Object Oriented Programming in Brief

In [46]:
class Address:
    def __init__(self, number, street, unit, city, zipcode):
        self.number = number
        self.street = street
        self.unit = unit
        self.city = city
        self.zipcode = zipcode

In [105]:
class Person:
    def __init__(self, name, dob, address):
        self.name = name
        self.dof = dob
        self.address = address

In [256]:
import random
class Employee(Person):
    def __init__(self, name:str, address:Address, dob:str, doe:str, marritial_status:str):
        super().__init__(name, dob, address)
        self.doe = doe
        self.marritial_status = marritial_status
        self.department = None        
        self.__real_evaluation = 0
        

    def department_description(self):
        return ("An Employee of this branch of the Our Company")
    
    
    def evaluation(self):
        """
        Function Employee.evaluation() returns a rigorious evaluation about the 
        employee performance taking many factors into consideration:
        years of service, number of served projects, peer review, manager review
        """
        
        return f"Mr./Ms. {self.name} Overall Evaluaition is {self.__rollAdice()}/6"
  


    ## Encapsulation
    def __rollAdice(self):
        return random.randint(1,6)

In [250]:
## Enheritance
class DeprtA_emp(Employee):
    def __init__(self, name: str, address: Address, dof: str, doe: str, marritial_status: str):
        super().__init__(name, address, dof, doe, marritial_status)
        self.department = "A"
        
    ## Polymorphism
    def department_description(self):
        return f"{self.department} is my department... TAKE ME SERIOUSLLY"

In [251]:
## Enheritance
class DeprtB_emp(Employee):
    def __init__(self, name: str, address: Address, dof: str, doe: str, marritial_status: str):
        super().__init__(name, address, dof, doe, marritial_status)
        self.department = "B"
         
    ## Polymorphism
    def department_description(self):
        return f"{self.department} is my department... WE ARE A JOKE!"

In [252]:
## Enheritance
class Manager(Employee):
    def __init__(self, name, address, dof, doe, marritial_status):
        super().__init__(name, address, dof, doe, marritial_status)
        self.department = "M"
        self.subordinates = []
        self.evaluations = [] 

        def add_employee(e: Employee):
            self.subordinates.append(e)
            self.evaluation.append(0)
            
        def evaluate_employees():
            for i, e in enumerate(self.subordinates):
                self.evaluations = input(f"Put any evaluation you like for {e.name}: ")

In [253]:
e0 = Employee("The New Guy", Address(101, "Some Planet", 0, "Wilmington", "5555"), "1/1/2015", "1/1/2023", "s")
e1 = DeprtA_emp("Adam Smith", Address(123, "Moon St.", 11, "Wilmington", "9876"), "1/1/2001", "11/11.2021", 's')
e2 = DeprtB_emp("Marry Currie", Address(321, "Sun St.", 22, "Wilmington", "7890"), "2/2/2002", "1/1.2020", 'm')

In [257]:
employees = [e0, e1, e2]
for e in employees:
    print(e.department_description())
print(e1.evaluation.__doc__)    
e1.evaluation()


## PSSSST... the company is rolling a dice on employees to get their performance using a function called 
## rollAdice

e1.__rollAdice()

An Employee of this branch of the Our Company
A is my department... TAKE ME SERIOUSLLY
B is my department... WE ARE A JOKE!

        Function Employee.evaluation() returns a rigorious evaluation about the
        employee performance taking many factors into consideration:
        years of service, number of served projects, peer review, manager review

AttributeError: 'DeprtA_emp' object has no attribute '__rollAdice'